.branch-3-6 #adminmenu .toplevel_page_wp_broadbean_home div.wp-menu-image::before,
.branch-3-7 #adminmenu .toplevel_page_wp_broadbean_home div.wp-menu-image::before {
     content: '';
}
.branch-3-6 #adminmenu .toplevel_page_wp_broadbean_home div.wp-menu-image,
.branch-3-7 #adminmenu .toplevel_page_wp_broadbean_home div.wp-menu-image {
	background-image: url(wpbb-icon.png);
}
#adminmenu .toplevel_page_wp_broadbean_home div.wp-menu-image::before {
	content: "\f338";
}