.message {
	text-align: left;
	background-color: #fbfbfb;
	border-left: 3px solid #7ad03a;
	padding: 2%;
}
#error, .error {
	border-color: #C00;
	color: #C00;
}
#wpbb-application-form .wpbb-input {
	clear: both;
	margin-bottom: 2%;
}
#wpbb-application-form .wpbb-input label {
	display: block;
	margin-bottom: 1%;
}
#wpbb-application-form .wpbb-input .wpbb-text-input {
	padding: 1%;
	border: 0;
	border: 1px solid #dddddd;
	display: block;
	width: 100%;
}
p.wpbb_description {
	font-size: 90%;
	font-style: italic;
}

#wpbb-application-form label.error {
	display: none;
}
label.require:after {
	content: " *";
	color: #C00;
}